@import "@/Assets/Styles/Variables";

#wallet-interact {
  .connected {
    cursor: pointer;
    position: relative;
    .wallet-account-address {
      font-size: 15px;
      position: relative;
      z-index: 1;
    }
    .network-icon {
      width: 20px;
    }
    .network-name {
      font-size: 13px;
    }
    &:hover {
      .bound {
        display: block;
      }
    }
    .bound {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, 0);
      display: none;
      padding-top: 40px;
      .actions {
        min-width: 227px;
        border-radius: 5px;
        background-color: #121122;
        border: 1px solid #96d9ed;
        overflow: hidden;
        .action {
          padding: 5px 15px;
          display: flex;
          justify-content: center;
          align-items: center;
          font-size: 12px;
          &:not(:last-child) {
            border-bottom: 1px solid #96d9ed;
          }
          &:hover {
            color: #51c0e1;
          }
        }
      }
    }
  }
}