/* 
  Override CSS of react-toastify
  https://fkhadra.github.io/react-toastify/how-to-style/
*/
.Toastify__toast-container--top-left,
.Toastify__toast-container--top-center,
.Toastify__toast-container--top-right {
  top: #{$headerHeight + 20}px !important;
  z-index: $toastZIndex !important;

  .Toastify__toast-body {
    word-break: break-word;
  }
}
